/node_modules
/public/hot
/public/storage
/public/assets/collections
/public/assets/collections_old
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage
